/* styles.css */

body {
    font-family: "Usual", sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #404040;
    color: #ffffff;
    padding: 0px 100px 0px 100px;
    text-align: center;
}

.nav-class {
    display:flex;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
}

.logo img {
    width: 100px; /* Adjust the width of your logo as needed */
}

.contact_img {
    padding: 0px 50px 0px 50px;
}

.custom-h1 {
    font-weight: 300;
    font-size: 64px;
}

.custom-p1 {
    font-weight: 400;
    font-size: 32px;
}

.custom-p2 {
    font-weight: 400;
    font-size: 24px;
    padding: 0px 0px 0px 0px;
}

.navigation {
    list-style: none;
    display: flex;
    margin-right: 100px;
    align-items: center;
}

.navigation li {
    margin: 0 20px;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
}


nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

#hero {
    background-image: url('background.svg');
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px;
}

.cta-button {
    background-color: #2baa42;
    color: #ffffff;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}

.button-padding {
    padding: 90px 0 100px 0px;
}

#features {
    background-color: #252525;
    padding: 60px 0;
    text-align: center;
}

.feature {
    margin: 20px;
    padding: 20px;
    background-color: #404040;
    border: 1px solid #000000;
}

#download {
    background-color: #000000;
    color: #ffffff;
    padding: 60px 0;
    text-align: center;
}

.app-store-button {
    background-color: #2baa42;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
}

#contact {
    background-color: #252525;
    padding: 60px 0;
    text-align: center;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
